---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div slot="article" class="w-full flex justify-center dark:bg-violet-200
	     dark:text-Black mt-5 mb-5">
			<h1 class=" text-4xl">Formacion</h1>

	</div>
	<div slot="article" class="h-screen bg-cover bg-center bg-no-repeat"
	style="background-image: url('/fondo 2.jpg');"
	dark-bg-violet-200 dark-text-white>
		
			<div class="perfil-home-cvu">
		  	<img src="/mifoto.jpg" alt="foto de perfil" class="rounded-full h-40 w-40 mx-auto mb-4">
			<fieldset class="w-full p-4 mx-auto max-w-md bg-gray-100 dark:bg-gray-100 rounded-xl">
		  	<h3 class="text-xl font-bold text-center">Jaime Alejandro Garcia Gutierrez</h3>
			</fieldset>
		  
			  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
				<fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
				<legend class="text-lg font-semibold">Domicilio</legend>
				<ul class="list-disc pl-8">
				  <li><span class="font-semibold">Calle:</span> Aquiles Serdan #72 B</li>
				  <li><span class="font-semibold">Localidad:</span> Zapopan, Jalisco</li>
				  <li><span class="font-semibold">CP:</span> 45230</li>
				  <li><span class="font-semibold">Teléfono:</span> 3329714215</li>
				</ul>
			  </fieldset>
		  
			  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Datos Generales</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Fecha de nacimiento:</span> 25/06/2000 </li>
			  <li> <span class="font-semibold">CURP:</span> GAGJ020625HJCRTMA7 </li>
			  <li> <span class="font-semibold">Email:</span> 20940378@tlajomulco.tecnm.mx </li>
			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Formación académica</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Primaria:</span> Josefa Ortiz de Dominguez 657 </li>
			  <li> <span class="font-semibold">Secundaria:</span> Secundaria Mixta 34  </li>
			  <li> <span class="font-semibold">Preparatoria:</span> CBTIS 38</li>
			  <li> <span class="font-semibold">Universidad:</span> Instituto Tecnológico de Tlajomulco </li>
			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Experiencia laboral</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Estudiante: </span> 21 años  </li>

			</ul>
		  </fieldset>
		  
		  <fieldset class="w-full p-8 bg-gray-100 dark:bg-gray-100 rounded-xl">
			<legend class="text-lg font-semibold">Idiomas</legend>
			<ul class="list-disc pl-8">
			  <li> <span class="font-semibold">Español:</span> Nativo  </li>
			  <li> <span class="font-semibold">Inglés:</span> 10%</li>
			</ul>
		  </fieldset>
		  
		</div>
	  </div>
	</div>
		
</Layout>
