---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div slot="article" class="w-full flex justify-center dark:bg-violet-200
	     dark:text-Black mt-5 mb-5">
			<h1 class=" text-4xl">Formacion</h1>

	</div>
		
</Layout>
